<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <!-- Navbar/Navmenu -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Gesture Games!</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="rps" class="nav-link">Rock, Paper, Scissors!</a>
                    </li>
                    <li class="nav-item">
                        <a href="quickdraw" class="nav-link">Quick Draw!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h2 class="text-center display-3">Blackjack!</h2>

    <!-- Game Status -->
    <section class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div *ngIf="gameStatus" class="h3 card-title mb-3 text-center">You {{gameStatus}}!</div>
                            <h1 *ngIf="gameStatus == 'Win'" class="text-center fas fa-trophy display-1"></h1>
                            <h1 *ngIf="gameStatus == 'Lose'" class="text-center fas fa-times display-1"></h1>
                            <h1 *ngIf="gameStatus == 'Tie'" class="text-center far fa-handshake display-1"></h1>
                            <h1 *ngIf="gameStatus == 'need to try again'" class="text-center far fa-question-circle display-1"></h1>
                            <h3 class="text-center" id="countdown">Instructions</h3> 
                                <p *ngIf="yourChoice == ''">Point at your camera to hit, hold an open hand to hold.<br/>
                                The computer will play after you. The closest to 21 will win!<br/>
                                Open both hands at your camera to begin!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- You vs Computer -->
    <section class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <div class="h3 card-title mb-3 text-center">Your cards:</div>
                            <div class="text-center">
                                <h1 *ngIf="yourChoice == 'Rock'" class="text-center far fa-hand-rock display-1"></h1>
                                <h1 *ngIf="yourChoice == 'Paper'" class="text-center far fa-hand-paper display-1"></h1>
                                <h1 *ngIf="yourChoice == 'Scissors'" class="text-center far fa-hand-scissors display-1"></h1>
                                <div *ngIf="gameStatus == 'need to try again'" class="h1 far fa-question-circle display-1"></div>
                            </div>
                            <h3 class = "text-center">{{ yourChoice }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <div class="h3 card-title mb-3 text-center">Computer's cards:</div>
                            <div class="text-center">
                                <h1 *ngIf="computerChoice == 'Rock'" class="far fa-hand-rock display-1"></h1>
                                <h1 *ngIf="computerChoice == 'Paper'" class="far fa-hand-paper display-1"></h1>
                                <h1 *ngIf="computerChoice == 'Scissors'" class="far fa-hand-scissors display-1"></h1>
                            </div>
                            <h3 class = "text-center">{{ computerChoice }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Camera View -->
    <div id="camera" class="card border-dark m-3 text-center">
        <div *ngIf="gesture == ''" class="card-header">Gesture Feed</div>
        <div *ngIf="gesture != ''" class="card-header">{{gesture}}</div>
        <div class="card-body text-dark">
          <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
        </div>
    </div>
</body>

<!-- <p *ngIf="gesture == 'Open Hand'">Paper!</p>
<p *ngIf="gesture == 'Closed Hand'">Rock!</p>
<p *ngIf="gesture == 'Hand Pointing'">Scissor!</p>
<p>Computer picked {{ computerChoice }}</p>
<app-handtracker (onPrediction)="prediction($event)"></app-handtracker> 
<div [innerHTML]="gesture"></div> -->

</html>