.square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }

  #camera {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #privacy {
    position: absolute;
    bottom: 0;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
  }

  body {
    padding-top:75px;
  }